html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    // font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;
    font-family: 'Lato', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}
.app-wrapper{
    // background-color: skyblue;
    display: grid;
    justify-content: center;    
}

.logo-main {
    display: grid;
    justify-content: center;
    implantado en el logo.js
    img {
        width: 105px;
        height: 105px;
    }
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@import './home';
@import './searchBar';
@import './recentPosts';
@import './posts';
@import './results';